@import url(https://fonts.googleapis.com/css?family=Crimson+Text:700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,700,900&display=swap);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: #74C69D;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px 50px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-primary {
  background-color: #212529;
  color: #fff;
}
.btn-primary:hover {
  background-color: transparent;
  border: 1px solid #74C69D;
  color: #74C69D;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 12;
  top: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.nav__list a {
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.nav__list a:hover {
  color: #212529;
}

.nav__menu {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 35px 0 40px 0;
}

.window-scroll {
  background-color: #212529;
}
.window-scroll .nav__list a:hover {
  color: #74C69D;
}

header {
  overflow: hidden;
  height: 80vh;
}

.header__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-top: 200px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 416px;
  color: #fff;
}
.header__left small {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header__left h1 {
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
}
.header__left p {
  font-size: 15px;
  line-height: 125%;
}

.partners__container {
  text-align: center;
}
.partners__container a {
  margin: 0 auto;
}

.partners__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-bottom: 55px;
}
.partners__text small {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #74C69D;
}
.partners__text h2 {
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
}
.partners__text p {
  font-size: 15px;
  line-height: 125%;
}

.partners__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 110px;
}

.info__right {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.info__right h2 {
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
}
.info__right p {
  font-size: 15px;
  line-height: 125%;
}

.info__left img {
  width: 600px;
  height: 430px;
}

.team__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 47px 1fr 47px 1fr 47px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 47px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.team__card {
  -moz-text-align-last: left;
       text-align-last: left;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px 39px 19px 38px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.team__card h5 {
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.team__card small {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: rgba(33, 37, 41, 0.75);
}
.team__card:hover {
  background: #74C69D;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 0;
  color: #fff;
}

.footer__socials {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}