@import url(https://fonts.googleapis.com/css?family=Crimson+Text:700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,700,800&display=swap);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #212529;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  padding: 1rem 2rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid #74C69D;
  color: #74C69D;
}

body {
  font-family: "Crimson Text", sans-serif;
  font-size: 15px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  width: 100%;
  margin: 0 auto;
  padding: 30px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
  background-color: #74C69D;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
nav button {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
.nav__menu a {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.nav__menu a:hover {
  color: #212529;
}

.window-scroll {
  background-color: #212529;
  color: #FFFFFF;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

header {
  margin-top: 115px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

.header {
  position: relative;
  background-color: #74C69D;
}

.header__left {
  width: 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.header__left h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
}
.header__left h1 {
  font-family: "Crimson Text", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.header__left p {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
}

.btn-header {
  background-color: #fff;
  color: #212529;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.btn-header:hover {
  color: #fff;
  border: 1px solid #fff;
}

.partners__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  text-align: center;
  margin: 60px 0 60px 0;
}
.partners__info h4 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #74C69D;
}
.partners__info h2 {
  font-weight: 700;
  font-size: 40px;
}
.partners__info p {
  font-size: 18px;
  font-family: "Work Sans";
  font-weight: 400;
}

.partners__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.btn-partners {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}

.thirdsection__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 70px;
}

.thirdsection__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.thirdsection__text h3 {
  font-size: 40px;
  font-weight: 700;
}
.thirdsection__text p {
  font-weight: 400;
  font-size: 15px;
  color: rgba(33, 37, 41, 0.5019607843);
  font-family: "Work Sans", sans-serif;
}
.thirdsection__text .btn-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fourth-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__info p {
  width: 404px;
  margin: 0 auto;
}

.partners__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.partners__card {
  padding: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 45px;
}
.partners__card img {
  margin: 0 10px 10px 10px;
}
.partners__card h4 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}
.partners__card small {
  font-size: 14px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  color: rgba(33, 37, 41, 0.7490196078);
  text-transform: uppercase;
}

.footer {
  background-color: #74C69D;
}

.footer__wrapper {
  padding: 50px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__wrapper h4 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

.footer__icons {
  width: 243px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}